/* Custom CSS Font */
.kaushan {
	font-family: 'Kaushan Script', cursive !important;
}
.opensans {
	font-family: 'Open Sans', sans-serif;
}
.oswald {
	font-family: 'Oswald', sans-serif;
}

/* Body & HTML */
body {
	font-family: 'Open Sans', sans-serif;
	/* background-color: #f1f1f1; */
	/* background-image: url(img/wallpaperflare.com_wallpaper.jpg); */
	background: #f9f9f9;
	background-size: 100%;
}
html {
	scroll-behavior: smooth;
}

/* Navbar */
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #141414;
	transition : background-color .5s, padding-top .5s;
}
.nav-link.active {
	background-color: transparent !important;
}
@media (min-width: 992px) {	
	.nav-link.active {
		color: #000 !important;
		background-color: #ffffff !important;
		text-shadow: 0px 0px 0px;
	}
}
.navbar-brand {
	color: #69d2e7 !important;
	font-size: 20px;
	text-shadow: 10px 10px 10px black;
}
.navbar-nav {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.nav-item {
	margin-left: 30px;
	min-width: 86px;
	text-shadow: 10px 10px 10px black;
}
@media (min-width: 992px) {
	.nav-item {
		text-align: center;
	}
}
.page-scroll {
	padding: 8px;
	margin-top: 3px;
}
@media (min-width: 992px) {
	.page-scroll {
		padding: 5px;
	}
}

/* video */
#video::before {
	display: block;
	content: "";
	height: 100px;
	visibility: hidden;
}
.video .embed-responsive-item {
	border-radius: 10px;
}
.video h1 {
	font-family: 'Kaushan Script', cursive !important;
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	margin-bottom: 50px;
}

/* Music */
#music::before {
	display: block;
	content: "";
	height: 100px;
	visibility: hidden;
}
.music .bg {
	background-color: #ececec;
	padding-top: 50px;
	padding-bottom: 50px;
}
.music h1 {
	font-family: 'Kaushan Script', cursive !important;
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	margin-bottom: 50px;
}
.music h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.music .colmusic {
	margin-top: 50px;
}
@media (min-width: 768px) {
	.music .colmusic {
		margin-top: 0px;
	}
}

/* Footer */
.footer .card {
	border-radius: 0px;
	background-color: #141414;
}
.footer .card-header {
	color: #8f8f8f;
	text-align: center;
	font-size: 14px;
}